@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full::before {
  border-radius: 0.5rem;
  opacity: 0.45;
}
.custom {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1300px) {
  .custom {
    flex-direction: row;
  }
}
